---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/navbar";
import ImageObj from "../components/ImageObj";
import ImageCover from "../components/ImageCover.astro";
import Breadcrumbs from "../components/Breadcrumbs";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="containerBody w-full h-full">
    <div class="max-w-full w-full mx-auto">
      <Navbar />
      <main class="flex justify-between max-w-[1280px] mx-auto my-7">
        <div class="w-2/3 flex flex-col">
          <div>
            <Breadcrumbs />
          </div>
          <div>
            <!-- <ImageObj /> -->
            <ImageCover />
          </div>
        </div>
        <div class="flex-1">b</div>
      </main>
    </div>
  </div>
</Layout>
