---
import { Image } from "@nextui-org/react";
---

<div
  class="relative w-full h-full flex justify-center items-center m-7 rounded-lg"
>
  {/* Fondo con clip-path */}
  <div
    class="absolute top-0 left-0 w-full h-full rounded-b-3xl"
    style={{
      clipPath: "polygon(0 24%, 100% 63%, 100% 100%, 0% 100%)",
      backgroundImage: "url('../images/bg.webp')",
      backgroundSize: "cover",
      backgroundPosition: "center",
    }}
  >
  </div>
  <Image client:visible src="/images/jinx.avif" alt="Jinx" width={700} />
</div>
